{{{if .Islogin}}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>蓝金唇膏：经典口红|EIGHT</title>
		<link rel="stylesheet" type="text/css" href="/static/kouhong/bootstrap/css/bootstrap.min.css" />
		<style type="text/css" media="screen"></style>
		{{{template "base/link.html" .











		}}}
		<link rel="stylesheet" type="text/css" href="/static/kouhong/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/kouhong/kouhong.css" />
		<script type="text/javascript" src="/static/yanying/js/jquery-3.6.0.min.js"></script>
		<script src="/static/kouhong/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>
		{{{template "base/navbar.html" .}}}
		<div>
			<form action="/action_page.php">
				<input type="text" placeholder="搜索.." name="search" />
				<svg
					width="40"
					height="20"
					viewBox="0 0 15 15"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M17.17 16.48L12 11.36a5.5 5.5 0 10-4.22 2 5.41 5.41 0 003.51-1.27l5.14 5.13a.51.51 0 00.7 0 .5.5 0 00.04-.74zm-9.35-4.15a4.5 4.5 0 110-9 4.5 4.5 0 010 9z"
						fill="currentColor"
					></path>
				</svg>
			</form>
		</div>
		<!-- TODO: 购物车  <30-12-21, Redari-Es> -->

		<div class="row">
			<div class="row full-height full-width justify-content-center padding-tb">
				<div class="col-lg-12 col-xs-8 align-self-center">
					<div class="section text-center slider-height-padding">
						<div>
							<span class="diy">
								<p>限量版&nbsp;&nbsp;¥520</p>
								<h1>烈焰蓝金口红</h1>
								<hr />
								<p>高订色泽 4款唇效: 丝绒、缎光、哑光、鎏金 花萃润护 舒悦持色 替换芯供选购</p>

								<br /><br /><br />
								<div class="btn btn-default" style="border: 2px soild black">深红</div>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="btn btn-default" style="border: 2px soild black">黑红</div>
								&nbsp;&nbsp;&nbsp;
								<div class="btn btn-default" style="border: 2px soild black">棕红</div>
							</span>
							<input class="checkbox frst" type="radio" id="slider-1" name="slider" checked />
							<label for="slider-1" style="left: 470px"></label>
							<input class="checkbox scnd" type="radio" name="slider" id="slider-2" />
							<label for="slider-2" style="left: 470px"></label>
							<input class="checkbox thrd" type="radio" name="slider" id="slider-3" />
							<label for="slider-3" style="left: 470px"></label>
							<input class="checkbox foth" type="radio" name="slider" id="slider-4" />
							<label for="slider-4" style="left: 470px"></label>
							<div class="diy">
								<ul class="diy" style="margin-left: -20px">
									<li class="diy" style="height: 500px; width: 500px"></li>
									<li class="diy" style="height: 500px; width: 500px"></li>
									<li class="diy" style="height: 500px; width: 500px"></li>
									<li class="diy" style="height: 500px; width: 500px"></li>
								</ul>
							</div>
							<button id="btn1" class="btn btn-primary btn-lg">加入购物车</button>
							<button id="btn2" class="btn btn-danger btn-lg">立即购买</button>
							<button
								id="btn3"
								class="btn btn-default btn-lg"
								style="width: 50px; height: 50px; border-radius: 50% black soild 2px"
							>
								❤
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<hr />

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div style="text-align: center">
						<h3>烈焰红唇高订系列</h3>
						<br />
						<br />
						<br />
					</div>
					<div class="col-xs-1 col-push-1">
						<img id="ab" src="/static/kouhong/img/a1.jpg" width="500px" height="500px" />
					</div>
					<div class="col-xs-4 col-push-2"></div>
					<div class="col-xs-7 col-push-3">
						<img id="ah" src="/static/kouhong/img/a2.jpg" width="500px" height="500px" />
					</div>
				</div>
			</div>
			<br /><br /><br />
			<br /><br /><br />
			<br /><br /><br />
			<div class="row">
				<div class="col-xs-4">
					<img id="ac" src="/static/kouhong/img/a3.jpg" width="500px" height="500px" />
				</div>
				<div class="col-xs-4 col-xs-push-3">
					<br />
					<br />
					<br />
					<br />
					<br />
					<h3>
						各种色号任你选择
						<br />
						质地软糯柔滑
						<br />
					</h3>
				</div>
			</div>
		</div>
		<br /><br />
		<div style="text-align: center">
			<h3>烈焰蓝金口红高订系列</h3>
		</div>
		<br /><br />
		<div class="container">
			<div class="row">
				<div class="col-xs-5">
					<br />
					<br />

					<img id="ad" src="/static/kouhong/img/a4.jpg" />
				</div>
				<br /><br />
				<div class="col-lg-5 col-lg-offset-2">
					<h3>
						全新演绎经典口红。
						<br />
						<br />
						为高订时装经典设计，呈现多款饱满浓郁色调，可轻松随心搭配使用。
						<br />
						<br />
						哑光、缎光、细闪、金属和亮片多重眼影妆效，闪耀光泽搭配高订色泽，打造精致迷人妆容。
					</h3>
				</div>
			</div>
			<br /><br />
			<div class="row">
				<div style="text-align: center">
					<br />
					<h3>精美口红</h3>
				</div>
				<div>
					<br />
					<br />
					<br />
				</div>
				<div class="one" style="align-self: center">
					<img src="/static/kouhong/img/v1.jpg" alt="" width="80%" height="80%" />
				</div>
				<div class="two">
					<img src="/static/kouhong/img/v2.jpg" alt="" width="80%" height="80%" />
				</div>
				<div class="three" style="text-align: center">
					<img src="/static/kouhong/img/v3.jpg" alt="" width="80%" height="80%" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-offset-3">
				<div class="f1">{{{template "base/footer.html" .}}} {{{template "base/src.html" .}}}</div>
			</div>
		</div>
	</body>
</html>
{{{else}}} {{{template "base/out.html" .}}} {{{end}}}
