<!DOCTYPE html>
<html lang="en">
	<!-- TODO: head  <23-12-21, Redari-Es> -->
	{{{template "base/head.html" .



	}}}
	<!-- TODO: body  <23-12-21, Redari-Es> -->
	<body>
		<!-- TODO: navbar  <23-12-21, Redari-Es> -->
		{{{template "base/navbar.html" .}}}
		<!-- TODO: sliceshow  <23-12-21, Redari-Es> -->
		<!-- 轮播图片 -->
		{{{template "base/sliceshow.html" .}}}

		<!-- TODO: card  <23-12-21, Redari-Es> -->
		<!-- 卡片1 -->
		<!-- TODO: 精选分区  <23-12-21, Redari-Es> -->
		{{{template "base/jingxuan.html" .}}}
		<!-- TODO: 促销分区  <23-12-21, Redari-Es> -->
		{{{template "base/dacu.html" .}}}
		<!-- TODO: 页脚模板  <23-12-21, Redari-Es> -->
		{{{template "base/product.html" .}}}
		<!-- 页脚 -->
		{{{template "base/footer.html" .}}}
		<!-- TODO: src  <23-12-21, Redari-Es> -->
		{{{template "base/src.html" .}}}
	</body>
</html>
