<!-- TODO: 大促销  <24-12-21, Redari-Es> -->
<div class="christmas" id="dacu" style="padding-top: 60px">
	<div class="christmas-text row-cols-1 container-fluid">
		<h4 style="">圣诞大促销</h4>
	</div>
	<div class="christmas-content row container-fluid">
		<div class="col-sm-4 col-xs-12">
			<div class="car" style="color: black">
				<img src="/static/mall/pic/5.jpg" class="card-img-top img-responsive" />
				<div class="card-body">
					<h5 class="card-title">Special</h5>
					<h6 class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</h6>
					<a href="#" class="btn btn-dark">Go SHOOPING</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="car" style="color: black">
				<img src="/static/mall/pic/6.jpg" class="card-img-top img-responsive" />
				<div class="card-body">
					<h5 class="card-title">Special title</h5>
					<h6 class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</h6>
					<a href="#" class="btn btn-dark">Go SHOOPING</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="car" style="color: black">
				<img src="/static/mall/pic/2.jpg" class="card-img-top img-responsive" />
				<div class="card-body">
					<h5 class="card-title">Special title</h5>
					<h6 class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</h6>
					<a href="#" class="btn btn-dark">Go SHOOPING</a>
				</div>
			</div>
		</div>
	</div>
</div>
