<!-- TODO: 精选  <24-12-21, Redari-Es> -->
<div class="christ" id="jingxuan">
	<div class="christ-text row-cols-1 container-fluid">
		<h4 style="">圣诞精选好礼</h4>
	</div>
	<div class="christ-content row container-fluid">
		<div class="col-sm-4 col-xs-12">
			<div class="car" style="color: black">
				<img src="/static/mall/pic/1.jpg" class="card-img-top img-responsive" />
				<div class="card-body">
					<h5 class="card-title">Special title</h5>
					<h6 class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</h6>
					<a href="#" class="btn btn-dark">Go SHOOPING</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="car" style="color: black">
				<img src="/static/mall/pic/4.jpg" class="card-img-top img-responsive" />
				<div class="card-body">
					<h5 class="card-title">Special title</h5>
					<h6 class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</h6>
					<a href="#" class="btn btn-dark">Go SHOOPING</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="car" style="color: black">
				<img src="/static/mall/pic/3.jpg" class="card-img-top img-responsive" />
				<div class="card-body">
					<h5 class="card-title">Special title</h5>
					<h6 class="card-text">
						With supporting text below as a natural lead-in to additional content.
					</h6>
					<a href="#" class="btn btn-dark">Go SHOOPING</a>
				</div>
			</div>
		</div>
	</div>
</div>
