<link rel="stylesheet" type="text/css" href="/static/mall/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/mall/font.css" />
<link
	rel="stylesheet"
	type="text/css"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/static/aboutus/dist/css/bootstrap.min.css" />
<!-- TODO: Something  <24-12-21, Redari-Es> -->
<link rel="canonical" href="https://v5.bootcss.com/docs/examples/checkout/" />
<!-- Bootstrap core CSS -->
<link href="/static/mall/docs/5.1/dist/css/bootstrap.min.css" />
<link
	rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
/>
<!-- TODO: index  <24-12-21, Redari-Es> -->
<link rel="stylesheet" type="text/css" href="/static/mall/index1.css" />
<link rel="stylesheet" href="/static/aboutus/aboutus.css" />
<link rel="stylesheet" type="text/css" href="/static/mall/index.css" />
