<!DOCTYPE html>
<html>
	<head>
		{{{template "base/head.html" .


		}}}
		{{{template "base/table.html" .


		}}}
	</head>
	<body>
		{{{template "base/navbar.html" .}}}
		<table>
			<tr>
				<td colspan="2">
					<h1>尚未登录 o(Q_Q )o</h1>
				</td>
			</tr>
			<tr>
				<td>
					<button>
						<a href="/mall/login" target="_self">前往登录</a>
					</button>
				</td>
				<td>
					<button>
						<a href="/mall/login" target="_self">返回商城主页</a>
					</button>
				</td>
			</tr>
		</table>
		{{{template "base/footer.html" .}}}
	</body>
</html>
