<!-- 口红大图 -->
<div class="row page-item" id="one" style="padding-top: 60px">
	<div class="page-item-text">
		<h2>口红精选</h2>
	</div>
	<div class="page-item__container">
		<div class="image">
			<img src="/static/mall/pic/20211210_214549_003.jpg" style="width: 95%" />
		</div>
		<div class="textarea container-fluid">
			<h6>
				DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
				，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
			</h6>
		</div>
	</div>
</div>
<!-- 口红产品种类 -->
<div class="product">
	<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
		<div class="product-content row">
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 90%" />
			</div>
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.kouhong}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
		</div>
		<div class="product-content1 row hidden-xs">
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.kouhong}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 90%" />
			</div>
		</div>
		<div class="product-content row">
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 90%" />
			</div>
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.kouhong}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- 粉底液大图 -->
<div class="page-item" id="two" style="padding-top: 60px">
	<div class="page-item-text">
		<h2>粉底液精选</h2>
	</div>
	<div class="page-item__container">
		<div class="image">
			<img src="/static/mall/pic/20211210_214549_003.jpg" style="width: 97%" />
		</div>
		<div class="textarea container-fluid">
			<h6>
				DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
				，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
			</h6>
		</div>
	</div>
</div>
<!-- 粉底液产品分类 -->
<div class="product">
	<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
		<div class="product-content row">
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 95%" />
			</div>
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.fendiye}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
		</div>
		<div class="product-content1 row hidden-xs">
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.fendiye}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 95%" />
			</div>
		</div>
		<div class="product-content row">
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 95%" />
			</div>
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.fendiye}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- 眼影大图 -->
<div class="page-item" id="three" style="padding-top: 60px">
	<div class="page-item-text">
		<h2>眼影精选</h2>
	</div>
	<div class="page-item__container">
		<div class="image">
			<img src="/static/mall/pic/20211210_214549_003.jpg" style="width: 97%" />
		</div>
		<div class="textarea container-fluid">
			<h6>
				DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
				，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
			</h6>
		</div>
	</div>
</div>
<!-- 眼影产品分类 -->
<div class="product">
	<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
		<div class="product-content row">
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 95%" />
			</div>
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.yanying}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
		</div>
		<div class="product-content1 row hidden-xs">
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.yanying}}}" class="btn btn-dark">立即购买</a>
				</span>
			</div>
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 95%" />
			</div>
		</div>
		<div class="product-content row">
			<div class="col-sm-8 col-lg-8">
				<img class="introduce_item_img" src="/static/mall/pic/0.jpg" alt="" style="width: 95%" />
			</div>
			<div class="col-sm-4 col-lg-4">
				<span class="introduce_item_title"
					><h5>
						DIOR迪奥彩妆创意与形象总监彼得·菲利普(Peter Philips)
						，以品牌高订时装屋所在地，巴黎蒙田大道30号建筑外观设计为灵感，打造节日彩妆系列，致敬经典传奇。
					</h5>
					<br />
					<a href="{{{.yanying}}}" class="btn btn-primary">立即购买</a>
				</span>
			</div>
		</div>
	</div>
</div>
