{{{if .Islogin}}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>锁妆粉底液：经典粉底液|EIGHT</title>
		<link rel="stylesheet" type="text/css" href="/static/fendiye/bootstrap/css/bootstrap.min.css" />
		<style type="text/css" media="screen"></style>
		{{{template "base/link.html" .





















































		}}}
		<link rel="stylesheet" type="text/css" href="/static/fendiye/style.css" />
		<script type="text/javascript" src="/static/yanying/js/jquery-3.6.0.min.js"></script>
		<script src="/static/yanying/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>
		{{{template "base/navbar.html" .}}}
		<div>
			<form action="/action_page.php">
				<input type="text" placeholder="搜索.." name="search" />
				<svg
					width="40"
					height="20"
					viewBox="0 0 15 15"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M17.17 16.48L12 11.36a5.5 5.5 0 10-4.22 2 5.41 5.41 0 003.51-1.27l5.14 5.13a.51.51 0 00.7 0 .5.5 0 00.04-.74zm-9.35-4.15a4.5 4.5 0 110-9 4.5 4.5 0 010 9z"
						fill="currentColor"
					></path>
				</svg>
			</form>
		</div>
		<!-- TODO: 购物车  <30-12-21, Redari-Es> -->

		<div class="row">
			<div class="row full-height full-width justify-content-center padding-tb">
				<div class="col-lg-12 col-xs-8 align-self-center">
					<div class="section text-center slider-height-padding">
						<div>
							<span class="diy">
								<p>官网专享&nbsp;&nbsp;¥520</p>
								<h1>锁妆粉底液系列</h1>
								<hr />
								<p>(1)控油遮瑕 86%</p>
								<p>(2)锁水配方 24小时</p>
								<p>(3)超长持妆</p>
								<p></p>
								<br />

								<div class="btn btn-default" style="border: 2px soild black">畅销</div>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="btn btn-default" style="border: 2px soild black">经典</div>
								&nbsp;&nbsp;&nbsp;
								<div class="btn btn-default" style="border: 2px soild black">新品</div>
							</span>
							<input class="checkbox frst" type="radio" id="slider-1" name="slider" checked />
							<label for="slider-1" style="left: 470px"></label>
							<input class="checkbox scnd" type="radio" name="slider" id="slider-2" />
							<label for="slider-2" style="left: 470px"></label>
							<input class="checkbox thrd" type="radio" name="slider" id="slider-3" />
							<label for="slider-3" style="left: 470px"></label>
							<input class="checkbox foth" type="radio" name="slider" id="slider-4" />
							<label for="slider-4" style="left: 470px"></label>
							<div class="diy">
								<ul class="diy" style="margin-left: -20px">
									<li class="diy" style="height: 500px; width: 500px"></li>
									<li class="diy" style="height: 500px; width: 500px"></li>
									<li class="diy" style="height: 500px; width: 500px"></li>
									<li class="diy" style="height: 500px; width: 500px"></li>
								</ul>
							</div>
							<button id="btn1" class="btn btn-primary btn-lg">加入购物车</button>
							<button id="btn2" class="btn btn-danger btn-lg">立即购买</button>
							<button
								id="btn3"
								class="btn btn-default btn-lg"
								style="width: 50px; height: 50px; border-radius: 50% black soild 2px"
							>
								❤
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<hr />

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div style="text-align: center">
						<h3>24小时*超长锁妆，86% **锁水配方</h3>

						<br />
						<br />
						<br />
					</div>
					<div class="col-xs-1 col-push-1">
						<img id="ab" src="/static/fendiye/img/a1.jpg" width="500px" height="500px" />
					</div>
					<div class="col-xs-4 col-push-2"></div>
					<div class="col-xs-7 col-push-3">
						<img id="ah" src="/static/fendiye/img/a2.jpg" width="500px" height="500px" />
					</div>
				</div>
			</div>
			<br /><br /><br />
			<br /><br /><br />
			<br /><br /><br />
			<div class="row">
				<div class="col-xs-4">
					<img id="ac" src="/static/fendiye/img/a3.jpg" width="500px" height="500px" />
				</div>
				<div class="col-xs-4 col-xs-push-3">
					<br />
					<br />
					<br />
					<br />
					<br />
					<h1>各种色号任你选择</h1>
				</div>
			</div>
		</div>
		<br /><br />
		<div style="text-align: center">
			<h1>持妆锁水，无「锁」不能</h1>
		</div>
		<br /><br />
		<div class="container">
			<div class="row">
				<div class="col-xs-5">
					<br />
					<br />

					<img id="ad" src="/static/yanying/img/2.jpg" />
				</div>
				<br /><br />
				<div class="col-lg-5 col-lg-offset-2">
					<h3>
						<br />
						寻找你的绝配色号
						<br />
						<br />
						水光透亮底妆
						<br />
						<br />
						「锁妆」粉底液*柔雾哑光，24小时超长锁妆*，不惧闷热，控油防汗。
					</h3>
				</div>
			</div>
			<br /><br />
			<div class="row">
				<div style="text-align: center">
					<br />
					<h3>锁妆步骤</h3>
				</div>
				<div>
					<br />
					<br />
					<br />
				</div>
				<div class="video">
					<video id="vd" video controls="" autoplay="ture" loop="loop">
						<source src="/static/fendiye/img/v1.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-offset-3">
				<div class="f2">{{{template "base/footer.html" .}}} {{{template "base/src.html" .}}}</div>
			</div>
		</div>
	</body>
</html>
{{{else}}} {{{template "base/out.html" .}}} {{{end}}}
