<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		/>
		<title>关于我们</title>
		<meta charset="utf-8" />
		<link href="/static/aboutus/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/aboutus/aboutus.css" rel="stylesheet" />
		{{{template "base/link.html" .

		}}}
	</head>
	<body>
		{{{template "base/navbar.html" .}}}
		<!-- TODO: navbar  <23-12-21, Redari-Es> -->
		<div class="container" style="padding: 1em">
			<h1 class="text-center">关于我们</h1>
		</div>
		<hr />
		<br /><br />
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-xs-10 col-lg-offset-1 col-xs-offset-4">
					<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="btn btn-primary btn-lg" id="group"><b>小组简介</b></span>
				</div>
				<div class="col-lg-7 col-xs-10 col-xs-offset-1">
					<p class="lead">
						我们是19级技术一班的毕业设计小组，名为“8只松鼠”。小组成员包括：<font
							style="color: rgb(81, 105, 180)"
							>陈婷芳、曹心如、冯钰婷、傅榕纯、洪祥、洪祥略、卢秋佳、郑惠珍 </font
						>(按首字母和笔画）。
						我们分工合作，团结互助，定期开展小组会议讨论策划，携手完成了我们的毕业设计。
					</p>
				</div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-xs-10 col-lg-push-5 col-xs-offset-4">
					&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="btn btn-primary btn-lg" style="position: relative; left: 0; top: 60px"
						><b>网站简介</b></span
					>
				</div>
				<div class="col-lg-7 col-xs-10 col-xs-offset-1">
					<p class="lead">
						我们做的是一个电商类品牌网站，包含：<font style="color: rgb(81, 105, 180)"
							>注册登录账号、商品展示、商品详情、购物车、联系客服</font
						>等功能，
						使用了Html、CSS、CSS3、Bootstrap、Javascript、Jquery、Vue.js、Vue3、XML、Git等语言。
					</p>
				</div>
			</div>
		</div>
		<br />
		<div class="text-center">
			<h2>成员简介</h2>
		</div>
		<hr />
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-xs-8 col-xs-offset-2">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/01.jpg" /><br />
						<h4>学号01：<strong>曹心如</strong></h4>
						<h4>负责我们的主页面和购物车。</h4>
					</div>
				</div>
				<div class="col-lg-5 col-lg-offset-0 col-xs-8 col-xs-offset-2">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/02.jpg" />
						<h4>学号24：<strong>陈婷芳</strong></h4>
						<h4>负责我们的粉底商品详情页。</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-xs-8 col-xs-offset-2">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/03.jpg" style="width: auto; height: auto" /><br />
						<h4>学号13：<strong>冯钰婷</strong></h4>
						<h4>负责我们的眼影商品详情页。</h4>
					</div>
				</div>
				<div class="col-lg-5 col-lg-offset-0 col-xs-8 col-xs-offset-2">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/04.jpg" style="width: auto; height: auto" />
						<h4>学号34：<strong>傅榕纯</strong></h4>
						<h4>负责我们的联系客服和注册登录页。</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-xs-8 col-xs-offset-2 col-lg-offset-1">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/05.jpg" style="width: auto; height: auto" />
						<h4>学号37：<strong>洪祥</strong></h4>
						<h4>负责我们的后端和数据库。</h4>
					</div>
				</div>
				<div class="col-lg-5 col-lg-offset-0 col-xs-8 col-xs-offset-2">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/06.jpg" style="width: auto; height: auto" />
						<h4>学号29：<strong>洪祥略</strong></h4>
						<h4>负责我们的后端和数据库。</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-xs-8 col-xs-offset-2 col-lg-offset-1">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/07.jpg" style="width: auto; height: auto" />
						<h4>学号36：<strong>卢秋佳</strong></h4>
						<h4>负责我们的关于我们和商品详情页。</h4>
					</div>
				</div>
				<div class="col-lg-5 col-lg-offset-0 col-xs-8 col-xs-offset-2">
					<div class="thumbnail">
						<img src="/static/aboutus/ourphoto/08.jpg" style="width: auto; height: auto" />
						<h4>学号27：<strong>郑惠珍</strong></h4>
						<h4>负责我们网站的口红商品详情页。</h4>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<!-- TODO: footer  <23-12-21, Redari-Es> -->
		{{{template "base/footer.html" .}}}
		<!-- TODO: src  <23-12-21, Redari-Es> -->
		{{{template "base/src.html" .}}}
	</body>
</html>
